@model _3Wafii.Dtos.ResturantsDto

@{

    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit Resturants Information.</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="" id="fileId" onchange="imageUploaded()">
                @Html.ValidationMessageFor(model => model.image, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", @id = "address" } })
                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rest_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.rest_name, new { htmlAttributes = new { @class = "form-control", @id = "rest_name" } })
                @Html.ValidationMessageFor(model => model.rest_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.phone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control", @id = "phone" } })
                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rest_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.rest_id, new { htmlAttributes = new { @class = "form-control", @id = "rest_id",@readonly = true } })
                @Html.ValidationMessageFor(model => model.rest_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.u_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.u_id, new { htmlAttributes = new { @class = "form-control", @id = "u_id" } })
                @Html.ValidationMessageFor(model => model.u_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="btnn" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        let base64String = "";
  
    function imageUploaded() {
        var file = document.querySelector(
            'input[type=file]')['files'][0];

        var reader = new FileReader();
        console.log("next");

        reader.onload = function () {
            base64String = reader.result.replace("data:", "")
                .replace(/^.+,/, "");

            imageBase64Stringsep = base64String;
            console.log(base64String);
        }
        reader.readAsDataURL(file);
    }


        $(document).ready(function () {

            $("#btnn").click(function () {
                var insert = new Object();
                    insert.image = base64String;
                    insert.address = $("#address").val();
                    insert.rest_name = $("#rest_name").val();
                    insert.phone =$("#phone").val();
                    insert.rest_id = $("#rest_id").val();
                    insert.u_id = $("#u_id").val();
                

                $.ajax({

                    url: "/api/resturants",
                    type: "PUT",
                    dataType: "json",
                    data: insert,
                    success: function () {
                        window.location.href = "../index";
                    },

                });
            });
          });




    </script>



}
